.wrap {
  display: flex;
}

.vending-machine {
  display: flex;
  flex-wrap: wrap;
  width: 492px;
  height: 699px;
  background: url('./assets/vendor-machine.png');
  background-size: cover;
  padding-top: 45px;
}

.vending-slots {
  width: 300px;
  height: 480px;
  margin-left: 32px;
  overflow: hidden;

  &.push .slot.active .slot__item:first-child {     
    transform: translateY(500px)!important;
    transition: 1s;
  }
}

.vending-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  margin: 0 30px 60px;
  height: 70px;

  img {
    max-width: 50px;
    max-height: 60px;
  }
}

.shelf {
  height: 87px;

  &.active {
    

    .slot-id {
      border-color: yellow;
    }
  }
}

.slot {
  width: 60px;
  height: 87px;
  display: inline-flex;
  position: relative;
  align-items: flex-end;
  justify-content: center;

  &__item {
    position: absolute;
  
    img {
      max-width: 50px;
      max-height: 60px;
    }
  }

  &.active {
    .slot-id {
      border-color: red;
    }
  }
}

.slot-id {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  color: white;
  position: absolute;
  top: calc(100% - 8px);
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  font-weight: bold;
  background: black;
  border: 1px solid white;
  border-radius: 50%;
}

.controls {
  height: 480px;
  width: 108px;
  margin-left: 23px;

  &__display {
    height: 45px;
    width: 85px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 7px 10px;
    background: #1d1d1d;
    border-radius: 5px;
    border: 3px solid #aaaaaa;
    color: red;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
  }

  &__clear {
    width: 28px;
    height: 28px;
    background: rgb(78, 78, 78);
    border: 2px solid black;
    color: rgb(218, 0, 0);
    margin-top: 58px;
    margin-left: 56px;
    border-radius: 4px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    width: 88px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    padding: 10px;
    background: #C8C5C8;
    border-radius: 5px;
    border: 2px solid black;
    justify-content: space-between;

    .button-wrap {
      display: inline-flex;
      justify-content: center;
      flex-basis: 33%;

      button {
        width: 18px;
        height: 18px;
        margin-bottom: 7px;
        border-radius: 50%;
        border-color: white;
        padding: 0;
        font-size: 10px;
        outline: none;
        cursor: pointer;
      }
    }
  }
}

.coins {
  margin: 50px 0 0 50px;

  .coin {
    margin-right: 20px;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-width: 4px;
    border-color: black;
    background-color: burlywood;
    color: rgb(230, 230, 230);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }

  .coins-back {
    margin-top: 100px;
  }
}
